@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900&display=swap&subset=cyrillic,latin-ext');
html, body{
    width: 100%;
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    background: #f5f5f5;
}
p, div#place, button{
    font-size: 60pt;
    font-family: 'Playfair Display', serif;
    font-kerning: none;
    margin-top: 40px;
    margin-bottom: 40px;
}
div{
    float: left;
    line-height: 20vh;
    width: 100%;
    margin-right: 10px;
    text-align: center;
}
div#title>p{
    font-size: 100pt;
    line-height: 10vh;
}
div#place{
    line-height: 50vh;
}
div#submit{
    border: none;
    padding: 0;
    position: fixed;
    left: 0;
    bottom: 0;
}
button{
    position: relative;
    border: 1px solid rgb(31, 30, 29);
    border-radius: 5px;
    outline: none;
    background: rgb(31, 30, 29) linear-gradient(rgb(13, 12, 11), rgba(0, 0, 0, 0.99));
    padding: 0 40px 0 40px;
    color: #f5f5f5;
    top: 0;
    transition: all ease 0.3s;
}
button:active{
    top: 5px;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait){
    html, body{
        width: 100%;
        margin: 0 auto;
        padding: 0 auto;
        text-align: center;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        background: #f5f5f5;
    }
    p, div#place, button{
        font-size: 60pt;
        font-family: 'Playfair Display', serif;
        font-kerning: none;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    div{
        float: left;
        line-height: 20vh;
        width: 100%;
        margin-right: 10px;
        text-align: center;
    }
    div#title>p{
        font-size: 65pt;
        line-height: 10vh;
        padding: 0 20px 0 20px;
        text-align: justify-all;
        left: 0;
        top: 0;
    }
    div#place{
        font-size: 30pt;
        line-height: 30vh;
    }
    div#submit{
        border: none;
        padding: 0;
        position: fixed;
        left: 0;
        bottom: 0;
        transition: all ease 0.3s;
    }
    button{
        position: relative;
        border: 1px solid rgb(31, 30, 29);
        border-radius: 5px;
        outline: none;
        background: rgb(31, 30, 29) linear-gradient(rgb(13, 12, 11), rgba(0, 0, 0, 0.99));
        padding: 0 40px 0 40px;
        color: #F5F5F5;
        top: 0;
        transition: all ease 0.3s;
    }
    button:active{
        top: 5px;
        transition: all ease 0.3s;
    }
}